body{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100%;
    background: linear-gradient(to bottom right, #FF5E5E, #FDA703,#FFEC03,#7FE960, #02E1D9,#e642a1  , #f275dd  , #934ebe );
    margin: 10%;
}
#container{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-left: -160px;
}

#caja21,
#caja22{
    margin-top: 15px;
    width: 10em;
    height: 3em;
    position: relative;
    top: 70%;
    left: 30%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#caja21{
    left: 35%;
    background-color:  rgba(235, 120, 197, 0);
    top: 30%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#caja22{
    left: 32%;
    background-color:  rgba(235, 120, 197, 0);
    top: 45%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#p{
    text-align: center;
}