body{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100%;
    background: linear-gradient(to bottom right, #FF5E5E, #FDA703,#ffe203,#9be960, rgb(8, 187, 181)  , #406df5  , #824ebe , rgb(231, 63, 206) , rgba(238, 31, 141, 0.993));
    margin: 29.5px;
}
#container{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-left: -160px;
}

#caja21,
#caja22,
#caja23,
#caja24{
    margin-top: 15px;
    width: 10em;
    height: 3em;
    position: relative;
    top: 70%;
    left: 30%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#caja21{
    left: 35%;
    background-color:  rgba(235, 120, 197, 0);
    top: 30%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#caja22{
    left: 32%;
    background-color:  rgba(235, 120, 197, 0);
    top: 45%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#caja23{
    left: 32%;
    background-color:  rgba(235, 120, 197, 0);
    top: 60%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#caja24{
    left: 35%;
    
    background-color:  rgba(235, 120, 197, 0);
    top: 75%;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

#p{
    
    margin: 21.5px;
    font-size: xx-large;
    text-align: center;
    position: relative;
    
}