body{
    display: grid;
    place-items: center;
    position: relative;
    display: block;
    background-color: white;
}
#tablero{
    /*background-image: url(../Imagenes/8170a185bc587113fdfbecf13964c6a8.jpg);*/
    background: radial-gradient(ellipse at top left, #e388ff, #ff74ff,#ff82d9);
    scale: 100%;
    height: 400px;
    width: 1000px;
    display: grid;
    position: relative;
    vertical-align: middle;
    margin: auto;
    margin-top: 100px;
}
.boton{
    height: 30px;
    width: 60px;
    background-color: #F1C9C2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    margin: 10px 5px;
    position: relative;
}
.dino{
    width: 50px;
    height: 50px;
    background-image: url(../Imagenes/dino-run1.png);
    background-size: 50px 50px;
    position: relative;
    top: 350px;
}
.salto{
    animation: salto 0.3s linear;
}
@keyframes salto {
    0%{
        top: 350px;
    }   
    30%{
        top: 300px;
    } 
    50%{
        top: 250px;
    }
    80%{
        top:300px;
    }
    100%{
        top: 350px;
    }
}

.dino-corriendo{
    animation: animarDino 0.25s steeps(2)infinite;
}

.dino-estrellado{
    background-position-x: -252px ;
}

.suelo{
    width: 200%;
    height: 42%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../Imagenes/);
}

.cactus{
    width: 100px;
    height: 70px;
    position: relative;
    top: 140px;
    left: 580px;
    background-image: url(../Imagenes/cactus1.png); /*Preguntarle a widi porque se repite si es un solo cactus*/
    background-size: 34px 70px;
    animation: block 3s infinite linear;
}
@keyframes block {
    0%{
        left: 900px;
    }
    100%{
        left: -20px
    }
}
